.hero {
    padding: 2rem 0;
    border-radius: 12px;
}

.textSection {
    min-width: unset;
}

.textSection h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.textSection p {
    line-height: 1.6;
    margin-bottom: 1rem;
}

.ctaButton {
    background-color: #ffffff;
    color: #ec4899;
    padding: 0.75rem 1.5rem;
    font-size: 1.125rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #f2f2f2;
    transition: all 0.3s ease;
}

.ctaButton:hover {
    background-color: #ec4899;
    color: white;
}

.imageSection {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .imageSection {
        height: 400px;
    }
}

@media (min-width: 1024px) {
    .imageSection {
        height: 450px;
    }
}

.slider {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
}

.slide {
    min-width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease;
    position: absolute;
    top: 0;
    left: 0;
}

.active {
    opacity: 1;
}